In [146]:
import pandas as pd

## Here we take the DataFrame we need
tables = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M", header=0)
df = tables[0]

## Now we delete the 'Not assigned' Boroughs
df = df[df.Borough != 'Not assigned']

## I've reset the index values as it's more convenient
df = df[['Postcode', 'Borough', 'Neighbourhood']].reset_index(drop = True)

df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

In [147]:
## Fixing 'Not assigned' neighbourhoods
for i in range(0,211):
    if df.iloc[i]['Neighbourhood'] == 'Not assigned':
        df.at[i, 'Neighbourhood'] = df.iloc[i]['Borough']

In [148]:
#Let's check that everything is ok, this DataFrame should be empty
df2 = df[df['Neighbourhood'] == 'Not assigned']
df2

Empty DataFrame
Columns: [Postcode, Borough, Neighbourhood]
Index: []

In [149]:
## Now let's group the values by postcode
df = df[df.Borough != 'Not assigned']
df1 = df.groupby(['Postcode','Borough']).agg(lambda col: ', '.join(col))

In [152]:
## Let's have a look
df1.reset_index(inplace = True)
df1.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [155]:
df1.shape

(103, 3)